<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
<p>
  <a href="/">Home</a> |
  <a href="/new_potluck">New Potluck</a> |
  <a href="/new_item">Food & Drank</a> |
  <a href="/new_tag">New Tag</a> |


</p>

<hr>

<%= yield %>

</html>